<div class="footer__container">
  <footer class="footer">
    <div class="footer__headers">
      <div class="headers">
        <div class="headers__col">
          <h3 class="headers__title">Contacto</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/error">Llama gratis a *123</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">CDMX 55 1488 1143</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">int 800 256 4326</a></li>
            <li class="headers__item"><a class="headers__link" href="mailto: fer.frias.unam@outlook.com">fer.frias.unam@</a></li>
            <li class="headers__item"><a class="headers__link" href="mailto: irvin.frias.unam@outlook.com">irvin.frias.unam@</a></li>
          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Accesos</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/error">Portal de proveedores</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Record keeping</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Entrading</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Fondos</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Piggo</a></li>
          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Legal</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/error">Aviso legal</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Guia de servicios</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error"> Aviso de privacidad</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Política integral</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Contrato de intermediación</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Fondos externos</a></li>

          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Corporativo</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/error">Nuestras oficinas</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Información</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Folleto informativo</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/error">Personas autorizadas</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer__social" style="color: white">
      <ul class="social__list">
        <li class="social__item"><a class="social__link" routerLink="/error">Facebook</a></li>
        <li class="social__item"><a class="social__link" routerLink="/error">Instagram</a></li>
        <li class="social__item"><a class="social__link" routerLink="/error">TikTok</a></li>
        <li class="social__item"><a class="social__link" routerLink="/error">Twitter</a></li>
        <li class="social__item"><a class="social__link" routerLink="/error">LinkedIn</a></li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="copy__text">Todos los derechos reservados. <a class="copy__author"
                                                              href="https://www.linkedin.com/in/irvin-fernando-frias-torres-714527245/" target="_blank">Frias Irvin</a> &#174; 2022</p>
    </div>
  </footer>

</div>

