.footer__container{
  background-color: #131313;
  margin: 10rem 0 0 0;

}
.footer{
  width: 90%;
  margin: 0 auto;

}
.footer__headers{
  color: #f5f6f7;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.headers{
  display: flex;
  flex-wrap: wrap;
}
.headers__col{
  margin-right: 6rem;
  height: 15rem;
}
.headers__title{
  font-weight: bold;
}
.headers__list{
  list-style: none;

  padding: 0;
}
.headers__item{
  padding: 0 0 0.5rem 0;
}
.headers__link{
  color: #f5f6f7;
  text-decoration: none;
}
.headers__link:hover{
  color: #ffdc00;
}


.footer__social{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}
.social__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.social__item{
  margin-right: 1rem;
}
.social__link{
  color: #f5f6f7;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.3rem;
}
.social__link:hover{
  border-bottom: #ffdc00 2px solid;
  color: #e7d89c;
}

/*copyrigt Footer*/
.footer__copyright{
  width: 90%;
  margin: 0 auto;
}
.copy__text{
  text-align: end;
  margin: 0;
  padding: 0.5rem 0 1rem 0;
  color: white;
}
.copy__author{
  color: white;
  padding-bottom: 0.3rem;
  text-decoration: none;
}
.copy__author:hover{
  color: #ffdc00;
  border-bottom: #e5d9a3 2px solid;
}






/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headers{
    justify-content: end;
  }
  .headers__col{
    width: 45%;
    margin-right: 0;
  }
  .social__list{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;

  }
  .social__item{
    padding-bottom: 1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .headers{
    justify-content: end;
  }
  .headers__col{
    width: 40%;
    margin-right: 2rem;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headers{
    justify-content: end;
  }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headers__col{
    width: 15%;
    margin-right: 4rem;
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headers__col{
    margin-right: 6rem;
  }
}

