<div class="footer__container">
  <footer class="footer">
    <div class="footer__headers">
      <div class="headers">
        <div class="headers__col">
          <h3 class="headers__title">Contacto</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/">Llama gratis a *123</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">CDMX 55 1488 1143</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">int 800 256 4326</a></li>
            <li class="headers__item"><a class="headers__link" href="mailto: fer.frias.unam@outlook.com">fer.frias.unam@</a></li>
            <li class="headers__item"><a class="headers__link" href="mailto: irvin.frias.unam@outlook.com">irvin.frias.unam@</a></li>
          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Accesos</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/">Portal de proveedores</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Record keeping</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Entrading</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Fondos</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Piggo</a></li>
          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Legal</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/">Aviso legal</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Guia de servicios</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/"> Aviso de privacidad</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Política integral</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Contrato de intermediación</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Fondos externos</a></li>

          </ul>
        </div>
        <div class="headers__col">
          <h3 class="headers__title">Corporativo</h3>
          <ul class="headers__list">
            <li class="headers__item"><a class="headers__link" routerLink="/">Nuestras oficinas</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Información</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Folleto informativo</a></li>
            <li class="headers__item"><a class="headers__link" routerLink="/">Personas autorizadas</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer__social" style="color: white">
      <ul class="social__list">
        <li class="social__item"><a class="social__link" routerLink="/">Facebook</a></li>
        <li class="social__item"><a class="social__link" routerLink="/">Instagram</a></li>
        <li class="social__item"><a class="social__link" routerLink="/">TikTok</a></li>
        <li class="social__item"><a class="social__link" routerLink="/">Twitter</a></li>
        <li class="social__item"><a class="social__link" routerLink="/">LinkedIn</a></li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="copy__text">Todos los derechos reservados. <a class="copy__author"
                                                              href="https://www.linkedin.com/in/irvin-fernando-frias-torres-714527245/" target="_blank">Frias Irvin</a> &#174; 2022</p>
    </div>
  </footer>

</div>

