.principal-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.card{
  width: calc((100% / 4) - 5rem);
  padding-left: 1rem;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .card{
    width: calc((100% / 3) - 4rem);
  }
}


/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .card{
    width: calc((100% / 2) - 3rem);
  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card{
    width: 100%
  }

}
