<div class="form__container">
  <img class="form__img" src="assets/Login-Register/register-01.svg">
  <form class="form">
    <h1 class="form__title">Register</h1>
    <div class="form__field">
      <label class="form__label" for="text-name">Email</label>
      <input type="email" id="text-name" placeholder="user name" autofocus>
    </div>
    <div class="form__field">
      <label class="form__label" for="user-password">Password</label>
      <input type="password" id="user-password" placeholder="password" >
    </div>
    <div class="form__field">
      <label class="form__label" for="user-password-confirmed">Confirm Password</label>
      <input type="password" id="user-password-confirmed" placeholder="Confirm password" >
    </div>
    <div class="form__field">
      <input type="submit" id="submit" value="Submit" >
    </div>
  </form>
</div>
