.card{
  list-style: none;
  display: inline-block;
  width: 100%;

}
.card__img{
  text-align: center;
}
.img{
  width: 250px;
  text-align: center;
}
.card__dell{
  display: block;
  text-align: start;
}
.card__fotter{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.footer_doc, .footer__datesDelivery, .footer_moreInformation{
  text-decoration: none;
  color: rgb(0, 118, 206);
}
.footer__model{
  color: rgb(0, 118, 206);
  height: 2.5rem;
}
.footer__price{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3rem 0 0.5rem 0;
}
.footer__paypal{
  margin: 0.5rem 0 0 0;
}

/*buttons*/
.card__buttons{
  margin: 1.5rem 0 0;
  display: flex;
  justify-content: space-between;
}
.btn__eliminar{
  padding: 0.5rem;
  background-color: #bbb8b8;
  border: none;
  border-radius: 2px;
}
.btn__eliminar:hover{
  background-color: #e8e8e8;
}
.btn__comprar{
  padding: 0.5rem;
  background-color: #ffdc00;
  border: none;
  border-radius: 2px;
  width: 50%;
}
.btn__comprar:hover{
  background-color: #faf2d1;

}
