<div class="nav__container">
  <nav class="nav">
    <div class="nav__menu">
      <picture class="img__container">
        <a routerLink="/"><img class="nav__img" src="favicon.ico" alt="logo"></a>
      </picture>
      <ul class="nav__list">
        <li class="nav__item"><a routerLink="/" class="nav__link">Home</a></li>
        <li *ngIf="isAuthenticated()" class="nav__item"><a routerLink="/card" class="nav__link">Cart</a></li>
      </ul>
    </div>

    <ul class="login">
      <ng-container *ngIf="!isAuthenticated()">
        <li class="nav__item"><a routerLink="/login" class="nav__link">Login</a></li>
        <li class="nav__item"><a routerLink="/register" class="nav__link">Register</a></li>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <li><button class="nav__logout" (click)="logOut()" type="button">Logout</button></li>
      </ng-container>
    </ul>
  </nav>
</div>
