.app__title{
  padding-top: 5rem;
  width: 95%;
  margin: 0 auto;
}
.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.cards__card{
  margin: 1rem;
  width: calc((100% / 4) - 5rem);
}
.btn__toggler{
  display: none; /*Cambiar para agregar funcionalidad*/
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cards__card{
    width: calc((100% / 4) - 5rem);
  }
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .cards__card{
    width: calc((100% / 3) - 4rem);
  }
}


/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .cards__card{
    width: calc((100% / 2) - 3rem);
  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cards__card{
    width: 100%
  }

}



